/*!
autor: Karasik Vadim
project: Mobvoi TicWatch
*/

@import "import/_reset.less";
@import "import/_fonts.less";
@import "import/_colors.less";
@import "import/_common.less";

.header {
    &__menu {
        border-bottom: 1px solid @color-light - 50%;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    &__burger {
        float: left;
    }

    &__logo {
        display: inline-block;
        width: 120px;
    }

    &__cart {
        float: right;
    }

    &__submenu {
        padding: 10px 0;
        display: flex;

        @media(max-width: 768px) {
            flex-direction: column;
        }

    }

    &__submenu-item {
        color: @color-dark;
        opacity: 1;

        &:hover {
            opacity: 0.8;
            color: @color-dark + 20%;
            text-decoration: none;
        }

        &:after {
            content: "";
            display: none;
            width: 10px;
            height: 10px;
            border-top: 3px solid @color-dark;
            border-right: 3px solid @color-dark;
            border-radius: 1px;
            margin-left: -15px;
            transform: rotate(45deg);
            vertical-align: middle;

            @media(max-width: 768px) {
                display: inline-block;
            }
        }

        img {
            width: 35%;
            vertical-align: middle;
        }

        span {
            width: 65%;
            display: inline-block;
            vertical-align: middle;
            font-size: 140%;
            font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
        }
    }
}

.banner {
    padding: 70px 0;
    height: 100vh;
    position: relative;

    &_ticwatch-e2 {
        background: url('../img/photo_bg_ticwatche2-5_sm.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            background: url('../img/photo_bg_ticwatche2-6_lg.jpg') no-repeat left center;
            background-size: cover;
        }
    }

    &_ticwatch-s2 {
        background: url('../img/photo_bg_ticwatchs2-1_sm.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            background: url('../img/photo_bg_ticwatchs2-2_lg.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    &_ticwatch-pro {
        background: url('../img/photo_bg_ticwatchpro-19_sm.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            background: url('../img/photo_bg_ticwatchpro-20_lg.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    &_ticwatch-se {
        background-image: url('../img/photo_bg_ticwatchse-11_sm.jpg');
        background-color: #1B1B1B;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @media(min-width: 768px) {
            background: url('../img/photo_bg_ticwatchse-14_lg.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #1B1B1B;
        }
    }

    &__text {
        color: @color-light;
    }

    &__selectors {
        //display: flex;
        margin: 40px 0;
    }

    &__selector {
        display: block;
        position: relative;
        margin: 10px 10px 15px 0;
        color: @color-light;
        font-size: 110%;

        @media(min-width: 768px) {
            display: inline-block;
        }

        span {
            vertical-align: middle;
        }

        &::after {
            position: absolute;
            top: 4px;
            left: 4px;
            content: '';
            vertical-align: middle;
            display: none;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
        }

        &::before {
            content: '';
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid #fff;
        }
    }

    &__selector_active {
        &::after {
            display: inline-block !important;
        }
    }

    &_shops {
        height: 70vh;
        background: url('../img/bg_shops_lg.png') no-repeat center center;
        background-size: cover;
    }
}

img {
    max-width: 100%;
}

.clear-padding {
    padding: 0 !important;
}

.button {
    display: inline-block;
    font-family: 'Montserrat-Regular';
    color: @color-light;
    font-size: 150%;
    border: 2px solid @color-light;
    padding: 20px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: @color-light - 20%;
        border-color: @color-light - 20%;
    }
}

.video {
    position: relative;
    font-size: 0;

    video {
        max-width: 100%;
    }

    &__button {
        width: 100px;
        height: 100px;
        border: 2px solid @color-light;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__triangle {
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 25px solid #fff;
        border-bottom: 15px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
    }

}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);

    &__content {
        width: 60%;
        height: 60%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.features {
    position: relative;

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        background: #202226;
    }

    &_gradient {
        background: linear-gradient(#cbbda6, #766e7f) !important;
    }

    &__inner {
        position: relative;
        top: 0;
        left: 0;
        height: 430px;

        @media(min-width: 1200px) {
            width: 100%;
            position: absolute;
            top: 30%;
            left: 0;
        }
    }

    &__switchers {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 40;
    }

    &__switch {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin: 0 12px;
        display: inline-block;
        box-shadow: 0 0 10px #7f7878;

        &_color_midnight {
            background: #080707;
        }

        &_color_white {
            background: #ffffff;
        }
    }

    .photo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            min-width: 347px;
            width: 347px;
        }

        @media(min-width:1200px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &_white {
            z-index: 10;
        }

        &_black {
            z-index: 30;
        }
    }

    .text {
        margin: 50px 0;
        position: relative;
        z-index: 40;
        //top: -200px;
    }
}

.feature {
    min-height: 100px;
    clear: both;
    margin: 30px 0 0;
    color: @color-light;
    position: relative;
    z-index: 50;

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-image: url('../img/sprite_features-green.png');
        background-repeat: no-repeat;
        background-size: 200px;

        @media(min-width: 992px) {
            width: 100px;
            height: 100px;
            background-size: 400px;
        }
    }

    &__icon_transparent {
        background-image: url('../img/sprite_features-transparent.png');
    }

    &__icon_right {
        float: right;
        margin-left: 20px;

        @media(max-width: 768px) {
            float: left;
            margin: 0 20px 0 0;
        }
    }

    &__icon_left {
        float: left;
        margin-right: 20px;
    }

    &__text {
        padding: 5px 0;

        h4 {
            font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
            font-size: 150%;
            line-height: 1.3;
            text-transform: none;
            margin: 0 0 10px;

            @media(min-width: 768px) {
                font-size: 180%;
            }
        }

        p {
            margin: 0 0 0 70px;

            @media(min-width: 992px) {
                margin: 0 0 0 120px;
            }
        }
    }

    &__text_color_dark {
        color: @color-dark;
    }

    &__text_right {
        @media(min-width: 768px) {
            text-align: right;

            p {
                margin: 0 70px 0 0;
            }
        }

        @media(min-width: 992px) {
            p {
                margin: 0 120px 0 0;
            }
        }

    }

    // Feature icons
    &__icon_clock {
        background-position: 0% 0%;
    }

    &__icon_military {
        background-position: 0% 0%;
    }

    &__icon_wearos {
        background-position: 33% 0%;
    }

    &__icon_wearos_trnsp {
        background-position: 33% 100%;
    }

    &__icon_platform {
        background-position: 67% 0%;
    }

    &__icon_platform_trnsp {
        background-position: 67% 0%;
    }

    &__icon_battery {
        background-position: 100% 0%;
    }

    &__icon_battery_trnsp {
        background-position: 0% 100%;
    }

    &__icon_activity {
        background-position: 0% 100%;
    }

    &__icon_activity_trnsp {
        background-position: 33% 0%;
    }

    &__icon_gps {
        background-position: 33% 100%;
    }

    &__icon_gps_trnsp {
        background-position: 100% 0%;
    }

    &__icon_waterproof {
        background-position: 67% 100%;
    }

    &__icon_waterproof_trnsp {
        background-position: 100% 100%;
    }

    &__icon_heartrate {
        background-position: 100% 100%;
    }

    &__icon_heartrate_trnsp {
        background-position: 67% 100%;
    }
}

.specification {
    margin: 40px 0;
    font-size: 140%;
    line-height: 1.2;

    h2 {
        text-align: center;
    }

    table {
        width: 100%;

        tr {
            &:nth-child(2n+1) {
                background-color: @color-light - 15%;
            }

            td {
                padding: 12px 16px;

                &:last-child {
                    border-left: 1px solid #ffffff;
                }
            }
        }
    }
}

.valign_middle {

    @media(min-width:768px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}

.valign_bottom-middle {
    position: absolute;
    bottom: 10%;

    @media(min-width:768px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.text {
    h2 {
        font-size: 270%;
        line-height: 1.1;

        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;

        @media(min-width: 768px) {
            font-size: 400%;
        }
    }

    img {
        display: inline-block;
        padding: 20px;
        margin: 10px 0 20px;
        border-left: 2px solid white;
    }

    &_align_center {
        text-align: center;
    }

    &_align_left-center {
        text-align: left;

        @media(min-width: 768px) {
            text-align: center;
        }
    }

    &_align_right-left {
        text-align: right;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    &_color_light {
        color: @color-light;
    }

    &_color_dark {
        color: @color-dark;
    }
}

#map {
    height: 500px;
    margin: 20px 0;
}

.shops {
    margin: 50px 0;
}

.shop {
    //display: flex;
    position: relative;
    padding: 10px 0;

    &__name {
        display: inline-block;
        vertical-align: middle;
        font-size: 170%;
        font-weight: bold;
        width: 70%;
    }

    &__location {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin: 0 8px;
        cursor: pointer;
        background: url('../img/icon_shop-location.svg') no-repeat center center;
    }

    &__link {
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;
        background: url('../img/icon_shopping-cart.svg') no-repeat center center;
    }
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;

    @media(min-width: 768px) {
        height: 90vh;
    }

    &__inner {
        display: flex;
        height: 600px;

        @media(max-width: 768px) {
            height: 300px;
        }
    }

    &__item {
        height: 50vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        @media(min-width: 768px) {
            height: 90vh;
        }
    }

    &__item-inner {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 80%;
        color: white;
    }

    &__switch {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__switch_next {
        right: 1%;
    }

    &__switch_prev {
        left: 1%;
    }

    &__dots {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 5px;
        border-radius: 50%;
        background: @color-light;
        opacity: 0.8;
    }
}

.carousel {
    overflow: hidden;
    position: relative;

    &__slide-holder {
        font-size: 0;
        position: relative;
    }

    &__switcher {
        position: absolute;
        z-index: 1000;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &__switcher_left {
        left: 1%;
        background: url('../img/icon_arrowleft.png') no-repeat center center;
        background-size: cover;
    }

    &__switcher_right {
        right: 1%;
        background: url('../img/icon_arrowright.png') no-repeat center center;
        background-size: cover;
    }

    &__item {
        float: left;
        transition: all 0.3s ease 0s;
        margin-left: 0px;
    }
}

.carousel-text {
    padding: 50px 0;
}

.fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #fff;
}

.product {
    text-align: center;
    padding: 5px;


    &__item {
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__item-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 5%;
        text-align: center;

        a {
            color: @color-dark;
            text-decoration: none;

            &:hover {
                color: @color-dark + 20%;
                text-decoration: none;
            }
        }
    }

    .product__photo_mobile {
        display: none;

        @media(max-width: 768px) {
            display: block;
        }
    }

    .product__photo_desktop {
        display: block;

        @media(max-width: 768px) {
            display: none;
        }
    }
}

.icon-with-text {
    display: flex;

    &_white {
        color: @color-light;
    }

    &_dark {
        color: @color-dark;
    }

    &_blue {
        color: #22526d;
    }

    &_green {
        color: #01a175;
    }

    span {
        min-width: 50px;
        min-height: 50px;
        display: inline-block;
        margin-right: 15px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    h4 {
        display: inline-block;
        text-transform: none;
        margin: 0;
        padding: 5px 0;
        font-size: 150%;
        line-height: 1.2;

        @media(min-width: 768px) {
            font-size: 160%;
        }
    }
}

.ticmotion {
    padding: 50px 0;
    background: url('../img/bg_ticmotion_lg.jpg') no-repeat center left;
    background-size: cover;
    color: @color-light;

    @media(min-width: 768px) {
        padding: 70px 0;
    }

    &__item {
        margin-top: 25px;

        p {
            font-size: 140%;
            line-height: 1.5;
        }
    }
}

footer {
    background: #272A2E;
    color: #ffffff;
    padding: 50px 0;

    li {
        line-height: 1.5;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 140%;

        &:hover {
            text-decoration: none;
            color: #ffffff - 30%;
        }
    }

    p {
        font-size: 140%;
        margin-bottom: 15px;
        line-height: 1.5;
    }
}

.reddot {
    width: 130px;
    height: 100px;
    background: url('../img/sprite_ticwatch.png') no-repeat 0% 103%;
}

.skate {
    padding: 50px 0;
    background: url('../img/ticwatche2_bg_la_1.jpg') no-repeat center center;
    background-size: cover;

    @media(min-width:768px) {
        padding: 70px 0;
    }
}

.swimm {
    padding: 50px 0 150px;
    background: url('../img/photo_bg_ticwatche2-3_sm.jpg') no-repeat left center;
    background-size: cover;
    color: @color-light;
    text-align: center;

    @media(min-width: 768px) {
        background: url('../img/photo_bg_ticwatche2-4_lg.jpg') no-repeat center center;
        background-size: cover;
    }

    @media(min-width: 1200px) {
        padding: 250px 0;
    }

    h2 {
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
    }
}

.fitness {
    padding: 50px 0 300px;
    background: url('../img/photo_bg_ticwatche2-1_sm.jpg') no-repeat center center;
    background-size: cover;
    color: @color-light;

    @media(min-width: 768px) {
        background: url('../img/photo_bg_ticwatche2-2_lg.jpg') no-repeat center center;
        padding: 200px 0;
    }

    .icon-with-text {
        margin-bottom: 30px;
    }
}

.fitness-s2 {
    padding: 50px 0 300px;
    background: url('../img/photo_bg_ticwatchs2-9_sm.jpg') no-repeat center center;
    background-size: cover;
    color: @color-light;

    @media(min-width: 768px) {
        background: url('../img/photo_bg_ticwatchs2-10_lg.jpg') no-repeat center center;
        padding: 200px 0;
    }

    .icon-with-text {
        margin-bottom: 30px;
    }
}

.outdoor {
    padding: 50px 0 400px;
    background: url('../img/photo_bg_ticwatchs2-5_sm.jpg') no-repeat bottom center;
    background-color: #d8d7d5;
    background-size: 100%;

    @media(min-width:450px) {
        padding: 50px 0 500px;
    }

    @media(min-width:550px) {
        padding: 50px 0 600px;
    }

    @media(min-width:650px) {
        padding: 50px 0 700px;
    }

    @media(min-width:768px) {
        padding: 100px 0;
        background: url('../img/photo_bg_ticwatchs2-6_lg.jpg') no-repeat center center;
        background-size: cover;
    }
}

.workout {
    padding: 80px 0 300px;
    background: url('../img/photo_bg_ticwatchse-15_sm.jpg') no-repeat center center;
    background-size: cover;


    @media(min-width:768px) {
        padding: 100px 0 300px;
        background-image: url('../img/photo_bg_ticwatchse-16_lg.jpg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        background-color: #ffffff;
    }
}

.design-e {
    padding: 200px 0 50px;
    background: url('../img/photo_bg_ticwatchse-18_sm.jpg') no-repeat center center;
    background-size: 100%;

    @media(min-width:768px) {
        padding: 100px 0;
        background-image: url('../img/photo_bg_ticwatchse-18_lg.png');
        background-repeat: no-repeat;
        background-position: 100% 20%;
        background-size: 50%;
        background-color: #ffffff;
    }
}

.design-s {
    padding: 200px 0 50px;
    background-image: url('../img/photo_bg_ticwatchse-19_lg.png');
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 75%;
    background-color: #f6f6f6;

    @media(min-width:768px) {
        padding: 100px 0;
        background-image: url('../img/photo_bg_ticwatchse-19_lg.png');
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: auto 80%;
        background-color: #f6f6f6;
    }
}

.design-pro {
    padding: 50px 0;
    background-image: url('../img/bg_ticwatchpro_lg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.logo {
    &_gda2017 {
        width: 200px;
    }
}

.military {
    padding: 50px 0 400px;
    background: url('../img/photo_bg_ticwatchs2-7_sm.jpg') no-repeat bottom center;
    background-size: 100%;
    background-color: #CFD7E2;

    @media(min-width: 450px) {
        padding: 70px 0 200px;
        background: url('../img/photo_bg_ticwatchs2-8_lg.jpg') no-repeat center center;
        background-size: cover;

        h2,
        p {
            color: #fff !important;
        }

    }
}

.watch-face {
    height: 100vh;
    padding: 20px 0;

    &_e2 {
        padding: 50px 0;
        background: url('../img/common_bg_sm_1.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            padding: 70px 0;
            background: url('../img/common_bg_la_1.jpg') no-repeat top center;
            background-size: cover;
        }
    }

    &_s2 {
        padding: 50px 0;
        background: url('../img/photo_bg_ticwatchs2-3_sm.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            padding: 70px 0;
            background: url('../img/photo_bg_ticwatchs2-4_lg.jpg') no-repeat center center;
            background-size: cover;
        }
    }

    &_e {
        background: url('../img/common_bg_sm_3.jpg') no-repeat center center;
        background-size: cover;

        @media(min-width: 768px) {
            background: url('../img/common_bg_sm_3.jpg') no-repeat top center;
            background-size: cover;
            text-align: center;
        }
    }

    &_pro {
        padding: 50px 0;
        background: #080A0A;

        @media(min-width: 768px) {
            padding: 100px 0;
        }
    }
}

.display-outer {
    background: #0c0d0f;
    padding: 70px 0 0;
}

.ticpro-display {
    padding: 100px 0 0;
    background: #0c0d0f;
    position: relative;
    text-align: center;
    max-width: 360px;
    margin: 50px auto 0;

    @media(min-width: 768px) {
        width: 530px;
        max-width: 530px;
    }

    &__note {
        background-repeat: no-repeat;
        position: absolute;
        color: @color-light;
        font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
    }

    &__note_left {
        background-image: url('../img/img_note-line-top-to-right_sm.png');
        background-size: contain;
        top: -5%;
        left: 5%;
        height: 280px;

        @media(min-width: 768px) {
            top: 0%;
        }

        @media(min-width: 1200px) {
            transform: rotate(-90deg);
            top: 30%;
            left: -25%;
        }

        p {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            transform: rotate(90deg) translate(10%, -150%);
            transform-origin: top left;

            @media(min-width: 1200px) {
                font-size: 180%;
            }
        }
    }

    &__note_right {
        background-image: url('../img/img_note-line-top-to-left_sm.png');
        background-size: contain;
        top: -5%;
        right: 5%;
        height: 200px;

        @media(min-width: 768px) {
            top: 0%;
        }

        @media(min-width: 1200px) {
            transform: rotate(90deg);
            top: 20%;
            right: -10%;
        }

        p {
            font-family: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
            transform: rotate(90deg) translate(10%, -250%);
            transform-origin: top left;

            @media(min-width: 768px) {
                transform: rotate(90deg) translate(10%, -210%);
            }

            @media(min-width: 1200px) {
                transform: rotate(270deg) translate(-50%, -80%);
                transform-origin: center center;
                font-size: 180%;
            }
        }
    }
}

.ticpro-faces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__face {
        width: 100px;
        height: 100px;
        margin: 10px 0;
        background-image: url('../img/sprite_faces.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 700px;
        //transition: all 0.5s linear;
    }
}

.lifestyle{
    padding: 50px 0;
    background: url('../img/bg_style_lg.jpg') no-repeat center center;
    background-size: cover;

    @media(min-width: 768px){
        padding: 150px 0;
    }
}


//Extra small devices Phones (<768px)	
//Small devices Tablets (≥768px)	
//Medium devices Desktops (≥992px)	
//Large devices Desktops (≥1200px)